
#navbar{
height: 60px;
background-color: black;
color: white;

}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
   
}
input{
    color: black;
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
